n8n-workflows/Invoice_Scan_LLamaIndex.json
{
  "name": "Invoice-Scan-LLamaIndex",
  "nodes": [
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf, .docx, .jpeg, .jpg, .png",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        200,
        0
      ],
      "id": "86ec7dc7-a944-4e6c-9912-92ee1194f463",
      "name": "Input Form",
      "webhookId": "7d5e1b23-9f1b-44da-92a7-067318ca9f9e"
    },
    {
      "parameters": {
        "formTitle": "Input Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "placeholder": "Enter your email here"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "888e787e-0a30-4669-8637-ff61e5b80bc6",
      "name": "Trigger Form",
      "webhookId": "b94099a8-edac-4a3a-9663-6556dc5e0893"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.file.mimetype }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "85e17a9f-5427-4287-b125-7e9e552279fb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8732fe4b-8270-43a1-9ac3-7c06fd2d04c5",
                    "leftValue": "={{ $json.file.mimetype }}",
                    "rightValue": "=image/jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "33ad6614-0124-48f1-bb38-73fda2177001",
                    "leftValue": "={{ $json.file.mimetype }}",
                    "rightValue": "text/plain",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        420,
        0
      ],
      "id": "bbd0f8b5-e0b8-4144-b270-56334d007ee9",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Here are the Invoice Details",
        "completionMessage": "={{ $json.markdown }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1480,
        -460
      ],
      "id": "9933421b-7e21-4016-8efa-e899a79f0594",
      "name": "Output Form",
      "webhookId": "9deb8a4e-5cb6-4277-991c-c67eb0d7d012"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer llx-LhA0pyvGv3TYn4kxL2Gi7RyL2jXC61xlPZw0PTmGbbblrIEy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -260
      ],
      "id": "f7ca5bf0-5435-4cbd-8aa3-8b3dd42b3719",
      "name": "Get Processing Status"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5abc356d-9b12-4aac-a1bb-d1b4ce61cb10"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "228419f4-bcd7-4d03-8b18-358f52787b35",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ERROR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ERROR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa390270-6624-411d-bcea-6990c182bdd5",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "CANELLED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CANCELLED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2dcc636d-6f01-42e4-abe2-1537645f7660",
                    "leftValue": "{{ $json.status }}",
                    "rightValue": "PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDING"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1100,
        -280
      ],
      "id": "464c2eb9-be42-45e6-8bb4-fd66727c70bd",
      "name": "Switch1"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer llx-LhA0pyvGv3TYn4kxL2Gi7RyL2jXC61xlPZw0PTmGbbblrIEy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -460
      ],
      "id": "af80b5a5-b17b-4410-85a9-a4a8b92e77e4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1400,
        -220
      ],
      "id": "c6c9e356-4209-4642-ab91-e7ff9a5a8ee7",
      "name": "Wait",
      "webhookId": "da0617aa-cff0-4bfa-aedd-c46367e1fff9"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer llx-LhA0pyvGv3TYn4kxL2Gi7RyL2jXC61xlPZw0PTmGbbblrIEy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        20
      ],
      "id": "93d7514a-d6df-4b00-a809-6592cdf401f0",
      "name": "Get Processing Status1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5abc356d-9b12-4aac-a1bb-d1b4ce61cb10"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "228419f4-bcd7-4d03-8b18-358f52787b35",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "ERROR",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ERROR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa390270-6624-411d-bcea-6990c182bdd5",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "CANELLED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CANCELLED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2dcc636d-6f01-42e4-abe2-1537645f7660",
                    "leftValue": "{{ $json.status }}",
                    "rightValue": "PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDING"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1080,
        0
      ],
      "id": "2b1dafb4-fe03-4151-8f74-c9b308fb5011",
      "name": "Switch2"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1380,
        60
      ],
      "id": "9e56d230-c260-48fd-9176-7ca818cdcb4a",
      "name": "Wait1",
      "webhookId": "da0617aa-cff0-4bfa-aedd-c46367e1fff9"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $json.id }}/result/markdown ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer llx-LhA0pyvGv3TYn4kxL2Gi7RyL2jXC61xlPZw0PTmGbbblrIEy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        -20
      ],
      "id": "6212e2f6-0bff-412c-ae5b-ce2e81e5c90c",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Here are the Invoice Details",
        "completionMessage": "={{ $json.markdown }}",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        1720,
        -20
      ],
      "id": "c89f7fe2-a01e-47b4-b507-40ae213e6296",
      "name": "Output Form1",
      "webhookId": "9deb8a4e-5cb6-4277-991c-c67eb0d7d012"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            },
            {
              "name": "Authorization",
              "value": "Bearer llx-LhA0pyvGv3TYn4kxL2Gi7RyL2jXC61xlPZw0PTmGbbblrIEy"
            },
            {
              "name": "parsing_instruction",
              "value": "Please extract line items: Name, Quantity, Unit Price, Amount"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -260
      ],
      "id": "9a2352e3-b22f-45ce-ab6a-b3f4ee425f24",
      "name": "Analyze PDF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            },
            {
              "name": "Authorization",
              "value": "Bearer llx-LhA0pyvGv3TYn4kxL2Gi7RyL2jXC61xlPZw0PTmGbbblrIEy"
            },
            {
              "name": "parsing_instruction",
              "value": "Please extract line items: Name, Quantity, Unit Price, Amount"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        20
      ],
      "id": "f0bbe5a6-a999-4e67-8e9b-bd7108134b91",
      "name": "Analyze Image"
    }
  ],
  "pinData": {},
  "connections": {
    "Input Form": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Form": {
      "main": [
        [
          {
            "node": "Input Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Analyze PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Processing Status": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Output Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Processing Status1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Output Form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze PDF": {
      "main": [
        [
          {
            "node": "Get Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Get Processing Status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1e8c33ca-040a-4472-997b-8edaeaf576a0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7c27849890a89e4912e5abf18982a2e05ccdb6555a0eddc3de5430bbfd5ac7b"
  },
  "id": "Q79hyKjl8gwZC1BR",
  "tags": []
}